.cover__link {
  min-height: calc(100vw * .625);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 44, 47, .3);
  transition: background-color .3s;
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, .8);
}
