/* page */
.page {
  background-color: #2a2c2f;
  color: #fff;
  font-family: Inter;
  box-sizing: border-box;
}

/* link */
.link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* header */
.header {
  padding: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  height: 42px;
}

.header__link-list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 20px;
}

.header__link_active{
  text-decoration: underline;
}

/* выровнять по вертикали ссылки */

.header__link-item{
  padding-left: 1em;
}


/* lead */
.lead__title{
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  text-align: center;
  padding:16px;
  margin: 0;
}

.lead__subtitle {
  padding: 0 16px;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.lead__figure {
  margin: 0;
  width: 100%;
  padding-top: 40px;
}

.lead__image {
  width: 100%;
}

.lead__caption {
  padding: .5rem 1rem 0 1rem;
}

/* intro */
.intro {
  padding: 4rem 1rem;
}

.intro__title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 35px;
  padding-bottom: 1rem;
}

.intro__text {
  padding-top: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26.08px;
  margin: 0;
}

.intro__list {
  list-style: none;
  padding-top: 34px;
  padding-left: 0;
  margin: 0;

  font-size: 12px;
  line-height: 1.5em;
}

.intro__accent {
  font-style: normal;
  font-weight: 600;
}

/* photo-grind */
.photo-grind {
  display: grid;
}
/* сверсать с помощью grind */

/* places */
.places {
  padding-top: 14px;
}

/* place */
.place {
  padding-top: 50px;
  padding-bottom: 34px;
}

.place__title {
  padding: 0 1rem;
  margin: 0;
  font-size: 2rem;
  font-weight: 900;
  line-height: 35px;
  font-style: normal;
}

.place__website {
  padding: 0 1rem;
}

.place__url-heading {
  padding-top: 2rem;
  padding-bottom: 1em;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  font-style: normal;
  color: #aaa;
}

.place__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  font-style: normal;
  text-decoration: underline;
  opacity: 1;
  transition: opacity .2s;
}

.place__link:hover {
  opacity: .8;
}

.place__image {
  margin: 2rem 0;
  width: 100%;
  display: block;
}

.place__paragraph {
  padding: 0 1rem;
  padding-bottom: 25px;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26.08px;
  font-style: normal;
}

.place__paragraph:last-of-type {
  padding-bottom: 0;;
}

/* cover */
.cover {
  margin: 2rem 0;
  background-image: url(./images/cover/cover-trains.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(42,44,47,.3);
}

.cover__link {
  min-height: 200px;
  padding: 0 1rem;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(42,44,47,.3);
  transition: background-color .3s;
}

.cover__link:hover {
  background-color: rgba(42,44,47,.8);
}

.cover__title {
  margin: 0;
  font-size: 2rem;
  font-weight: 900;
  line-height: 35px;
}

.cover__subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1rem;
}

/* footer */
.footer {

}

.footer__links-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer__link {
  padding: 1rem;
  font-size: 1.5em;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}

.footer__copyright {
  margin: 0;
  padding: 1.5rem 1rem;
  padding-top: calc(1.5rem + 8px);
  font-size: 14px;
  line-height: 14px;
}
