.lead__title{
  margin: 0;

  padding-top: 32px;
  padding-bottom: 15px;

  /* font */
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  text-align: center;
}


@media screen and (min-width: 768px) {
  .lead__title {
    padding-top: 20px;
    padding-bottom: 32px;
    /* font */
    font-size: 96px;
    line-height: 100px;
  }
}
