.lead__title{
  margin: 0;

  padding: 32px 0 15px 0;

  /* font */
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  text-align: center;
}


@media screen and (min-width: 768px) {
  .lead__title {
    /* макет */
    padding: 20px 0 32px 0;
    /* font */
    font-size: 96px;
    line-height: 100px;
  }
}
